<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478402692501-vrdad56i90eenu7l6p4crtc8moo8if16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478402692501-vrdad56i90eenu7l6p4crtc8moo8if16</string>
	<key>API_KEY</key>
	<string>AIzaSyA2_hBwsUhsveYOi1K1t9ApAk71ods9teY</string>
	<key>GCM_SENDER_ID</key>
	<string>478402692501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-1johnh21.geo-gnosis-ios</string>
	<key>PROJECT_ID</key>
	<string>geo-gnosis-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-gnosis-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:478402692501:ios:1f5fb1cf7899797aaf629c</string>
	<key>DATABASE_URL</key>
	<string>https://geo-gnosis-ios-default-rtdb.firebaseio.com</string>
</dict>
</plist>
